*, :root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    
    padding: 2rem;
    gap: 1rem;
    height: 100vh;
}

.get-player-names {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    justify-self: center;
    margin-top: 35vh;
}

.get-player-names form {
    display: flex;
    flex-flow: column wrap;
}

.header-title {
    font-size: 36px;
}

.game-area {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    
    padding: 2rem;
    gap: 2rem;

    aspect-ratio: 3 / 2;
    width: max(600px, 50vw);

    background-color: #eee;
}

.game-options {
    background-color: #ddd;

    display: flex;
    flex-flow: column wrap;

    padding: 1rem;
    gap: 1rem;
}

.player-input {
    margin-bottom: 1rem;
}

.player-input label {
    font-weight: bold;
}

.player-input input {
    margin-top: 0.5rem;
    width: 50%;
}

.game-turn {
    font-size: 20px;
    font-weight: bold;
}

.game-board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    padding: 1rem;
    gap: 1rem;

    background-color: #ddd;
}

.game-cell {
    background-color: #aaa;
}

.game-cell:disabled {
    color: #000;
    font-size: 64px;
    background-color: #777;
}